@model LoanCalculator.Models.CalculationModel

@{
	ViewBag.Title = "Index";
}

<h2 class="title">Kalkuláció Adatai</h2>

<div class="calculationcontainer" >
	<div class="row">
		<div class="column col-xs-4 anim1">
			<p>Kalkuláció ideje: @Model.CalculationTime.ToShortDateString()</p>
			<p>Felvett hitelösszeg: @Html.DisplayFor(model => model.LoanAmmount)</p>
			<p>Összesen visszafizetendő összeg: @Html.DisplayFor(model => model.Sum)</p>

		</div>
		
		<div class="column col-xs-4 anim1-1">
			<p>Futamidő: @Model.Term Hónap</p>
			<p>Kamat mértéke: @Model.Interest %</p>
			<p>Havi átlagos fizetendő összeg: @Html.DisplayFor(model => model.Average)</p>

		</div>
		
		<div class="column col-xs-4 anim1-2" >
			<p>Lejárat dátuma: @Model.ExpireTime.ToShortDateString()</p>
			<p>Felhasználónév: @Html.DisplayFor(model => model.UserName)</p>
			<p>@Html.ActionLink("Export", "ExportToExcel", new { id = Model.Id })</p>

		</div>
	</div>

</div>


<h3 class="title">Részletező paraméterek</h3>

<div class="anim2">
<table class="table table-hover table-bordered">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Calculation.FirstOrDefault().Period)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Calculation.FirstOrDefault().Payment)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Calculation.FirstOrDefault().InterestPaid)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Calculation.FirstOrDefault().PrinciplePaid)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Calculation.FirstOrDefault().RemainingPrincipal)
		</th>


	</tr>

	@foreach (var item in Model.Calculation)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Period)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Payment)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.InterestPaid)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PrinciplePaid)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.RemainingPrincipal)
			</td>


		</tr>
	}

</table>
	</div>
<div>
	@Html.ActionLink("Vissza a főoldalra", "Index", "home")
</div>






