@model LoanCalculator.Models.InputDataModel

@{
	ViewBag.Title = "Kalkuláció";

}


<h2 id="input">Adja meg az adatokat a kalkulációhoz!</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">

	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(model => model.LoanAmmount, "Hitelösszeg (HUF)", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.LoanAmmount, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.LoanAmmount, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Term, "Futamidő (Hónap)", htmlAttributes: new { @class = "control-label col-md-2", @id = "Term" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Term, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Term, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.InterestPeriod, "Kamatperiódus (db)", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@*@Html.DropDownList("InterestPeriod", null, htmlAttributes: new { @class = "form-control", @id = "inputInterest" })*@
			@Html.EditorFor(model => model.InterestPeriod, new { htmlAttributes = new { @class = "form-control", @id = "inputInterest" } })
			@Html.ValidationMessageFor(model => model.InterestPeriod, "", new { @class = "text-danger" })
			@*<button type="button" id="1" class="InterestPeriodButton btn btn-primary">Kiszámol</button>*@
		</div>
	</div>
	@*<div class="form-group" id="temporary">*@
	<div class="form-group" id="first" style="display:block">
		@Html.LabelFor(model => model.InterestFirstPeriod, "1.kamatperiódus kamata (%)", htmlAttributes: new { @class = "control-label col-md-2 first" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.InterestFirstPeriod, new { htmlAttributes = new { @class = "form-control", @type = "number" }, @class = "first" })
			@Html.ValidationMessageFor(model => model.InterestFirstPeriod, "", new { @class = "text-danger first" })
		</div>
	</div>
	
	<div class="form-group" id="firstTerm" style="display:none">
		@Html.LabelFor(model => model.FirstTerm, "1.kamatperiódus futamideje (Hónap)", htmlAttributes: new { @class = "control-label col-md-2 first", @step = ".1" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.FirstTerm, new { htmlAttributes = new { @class = "form-control", @type = "number" }, @id = "fTerm" })
			@Html.ValidationMessageFor(model => model.FirstTerm, "", new { @class = "text-danger first" })
		</div>
	</div>
	<div class="form-group" id="second" style="display:none">
		@Html.LabelFor(model => model.InterestSecondPeriod, "2.kamatperiódus kamata (%)", htmlAttributes: new { @class = "control-label col-md-2", @id = "second" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.InterestSecondPeriod, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
			@Html.ValidationMessageFor(model => model.InterestSecondPeriod, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group" id="secondTerm" style="display:none">
		@Html.LabelFor(model => model.SecondTerm, "2.kamatperiódus futamideje (Hónap)", htmlAttributes: new { @class = "control-label col-md-2", @id = "sTerm" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.SecondTerm, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
			@Html.ValidationMessageFor(model => model.SecondTerm, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group" id="third" style="display:none">
		@Html.LabelFor(model => model.InterestThirdPeriod, "3.kamatperiódus kamata (%)", htmlAttributes: new { @class = "control-label col-md-2", @id = "third" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.InterestThirdPeriod, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
			@Html.ValidationMessageFor(model => model.InterestThirdPeriod, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group" id="thirdTerm" style="display:none">
		@Html.LabelFor(model => model.ThirdTerm, "3.kamatperiódus futamideje (hónap)", htmlAttributes: new { @class = "control-label col-md-2", @id = "tTerm" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.ThirdTerm, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
			@Html.ValidationMessageFor(model => model.ThirdTerm, "", new { @class = "text-danger" })
		</div>
	</div>
</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Kalkuláció" class="btn btn-primary" />
		</div>
	</div>
@*</div>*@
}

<div>
	@Html.ActionLink("Vissza", "Index", "home")



</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
